a{
    text-decoration: none;
    
}

.main_container{
    font-size: 0.7rem;
    text-decoration: none;
    text-align: center;
    max-height: 50vh;
    overflow: hidden;
    color: #121111;
    padding-bottom: 1rem;
}

.main_container:hover{
  cursor: pointer; 

}

.main_container::before{
    content: "";
 
}

.main_container:hover::before{
   
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-size: 2.2rem;
    left: 0%;
    background-color: rgba(249, 246, 246, 0.5);
}

.image_container{
    height: 29vh;
    border-radius: 7px;
}

.image_container img{
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    object-fit: fill;
    border-radius: 20px;
    
    
}


.main_container h2{
    color: white;
}

.temperaments_container{ /*que hermoso es grid*/
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 0.3rem;
}

.temperaments_container h1{
    margin: 0 0.3rem 0.4rem 0.3rem;
}



.div-button {
    display: flex;
    justify-content: center;
}
button {
    cursor: pointer;
}

.main_containers:hover {
    animation: myAnim 1s ease 0s 1 normal forwards;;
    cursor: pointer;
}


    @keyframes myAnim {
        0% {
          transform: scale(1);
        }
      
        50% {
          transform: scale(1.1);
        }
      
        100% {
          transform: scale(1);
        }
      }
    
    