.main_wrapper{
    display: flex;
    justify-content: center;
    background-color: #0b0b0b;
}

.container{
    width:auto;
    background-color: #7b7979;
    background-size: 50%;
    display: grid;
    gap: 10px;
    width: 1500px;
    top: 5px;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 290px;
    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }
   
}

.button_to_home{
    width: 20%;
    max-width: 370px;
    font-size: 0.9rem; 
    background: none;
    padding: 0.2rem 0.1rem;
    transition: color 0.5s linear;
    z-index: 100;
    border: 0.1rem solid #eefaf7;
    outline: 0.1rem solid #d6d7d7;
    text-shadow: 0 0 3px #0b0b0b;
    background: #b0b6b4;
    margin-bottom: 0.7rem;

    box-shadow: 5px 3px 5px 0.5px rgba(0,0,0,0.6);
}

.button_to_home:hover{ color: #585c5b;  }

.button_to_home::before,
.button_to_home::after{
    content: "";
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
    transition: transform 0.5s linear;
    z-index: -10;
}

.button_to_home::before{ transform: rotatey(90deg); }
.button_to_home::after{ transform: rotatey(90deg); }

.button_to_home:hover::after,
.button_to_home:hover::before{
    transform: rotate(0);
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #353737;
    background-color: white;
    padding: 1rem 0;
    border-radius: 15px;
}

.form input{
    border: none;
    border-bottom: 1px solid#353737;
    height: 1.2rem;
    font-size: 1.1rem;
    outline: none;
}



.max_height{
    padding-left: 0.4rem;
}



.max_weight{
    padding-left: 0.4rem;
}

.error_form{
    height: 30px;
    width: 100%;
    font-size: 0.9rem;
    color: rgba(255, 26, 26, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0;

}

.height_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.weight_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.select_temperaments{
    cursor: pointer;
    font-size: 1rem;
    background-color: #353737;
    border: none;
    border-radius: 15px;
    padding: 0.4rem;
    color: white;
    box-shadow: 5px 5px 5px 0.5px rgba(0,0,0,0.4);
    margin-bottom: 0.9rem;
}

.option_temperament{
    cursor: pointer;
}

.container_temperaments{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 7px;
    align-items: center;
    justify-items: center;
}



.button_add_dog{
    font-size: 1rem;
    background-color: #9a9f9f;
    color: white;
}

.button_add_dog{
    cursor: pointer;
}


.element_temperament{
    max-height: 70px;
    border-radius: 10px;
    margin: 5px 0;
    border: 2px solid#353737;
    color: #575025;
    width: 100%;
    font-weight: bolder;
    position: relative;
}

.element_temperament:hover{
    cursor: pointer;
}

.element_temperament::before{
    content: "";
    position: absolute;
}

.element_temperament:hover::before{
    content: "X";
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    font-size: 2rem;
    left: 0%;
    background-color: rgba(153, 153, 153, 0.5);
}

.label {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    width: 170px;
    height: 20px;
    border-radius: 20px;
    background-color: rgb(97, 97, 96);
    font-size: 15px;
    font-weight: bold;
    list-style: none;
    margin-top: 5px;
    text-align: center;
    justify-content: center;
  }
  