
.main_container1{
    margin: 0 5% 0 5%;
}

.container_cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5% 0.9%;
    justify-items: center;
    padding: 2rem 0 2rem 0;
}

.container_card{ /* estilos de carta individual */
    background-color: #554f4f;
    width: 92.5%;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.container_card:hover{
    cursor: pointer;
}
