
.main_container1{
    margin: 0 5% 0 5%;
}

.container_cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5% 0.9%;
    justify-items: center;
    padding: 2rem 0 2rem 0;
}

.container_card{ /* estilos de carta individual */
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    width: 92.5%;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 5px 5px 8px 5px #000000; 
    box-shadow: 5px 5px 8px 5px #000000;
   
}

.container_card:hover{
    cursor: pointer;
}


.background1{
 
    background-image: url('../../img/Home.png');
}

.container_card_animado{
    animation: myAnim 1s ease 0s 2 normal forwards;;
    cursor: pointer;
  
}

@keyframes myAnim {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.1);
    }
  
    100% {
      transform: scale(1);
    }
  }
