.searchbar_container{
    height: 30px;
    width: 20%;
}

.searchbar{
    height: 100%;
    width: 47%;
    font-size: 1.3rem;
    border: 1px solid #0b0b0b;
    border-top: none;
    outline: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.searchbar_button{
    border-radius: 0;
    height: 116%;
    width: 4rem;
    background: rgb(242, 244, 250);
background: linear-gradient(90deg, rgba(12,20,46,1) 0%, rgba(80, 81, 83, 0.457) 25%, rgb(38, 39, 39) 90%);
    /* border-top: 2px solid gray; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color:rgb(246, 234, 234);
}

.searchbar_button i{
    font-size: 1.3rem;
}
.searchbar_button:hover{
    background-color: rgb(155, 155, 146)
}
