.padre{
    /* background: linear-gradient(to right, #352fa7, #fceabb); */
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 3rem;

}
.nav{
width: 80%;
margin: 0 auto;
}

.ul{
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    /* display: flex;
    justify-content: space-evenly;
    margin-left: 40%;
    margin-right: 40%; */
}

.li{
    display: inline;
    border-radius: 5px;

}

.boton{
    color: black;
    float: left;
    padding: 5px 12px;
    text-decoration: none;
    background-color: #dddbd4;
    color: black;
    border-radius: 20px;
    font-size: 22px;
    border: 1px solid black;
    margin: 0 4px;
    cursor: pointer;
}

.boton:hover{
    background-color: rgb(83, 83, 82)
}

.botonSeleccionado{
    color: black;
    float: left;
    padding: 5px 12px;
    text-decoration: none;
    background-color: rgb(59, 65, 74);
    color: rgb(245, 234, 234);
    border-radius: 25px;
    font-size: 22px;
    border: 1px solid black;
    margin: 0 4px;
    cursor: pointer;
}

.botonSeleccionado:hover{
    background-color: rgb(83, 83, 82)
}

@media(max-width:900px) {
    .padre{
        margin-bottom: 50%;
    }
  }
    