.container_filters{
    width: 100%;
    margin-top: 2rem;
    border-radius: 25px;
}

.container_filters select{
    padding: 0.5rem 0.9rem;
    border: none;
    background: rgb(218, 221, 230);

    box-shadow: 6px 5px 9px 4px #747575;
    font-size: 23px;

    cursor: pointer;
}

.container_filters select:first-child{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
   
}

.container_filters select:last-child{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
