.navbar-div {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-div button{
    font-family: 'Silkscreen', cursive;
    padding: 10px;
    margin: 20px;
    border-radius: 25px;
    background: rgb(12,20,46);
    color:white;
    box-shadow: 6px 5px 9px 4px #747575;
    font-size: 23px
}
.navbar-div button:hover {
    background-color: rgb(8, 8, 8);
    color:rgb(220, 243, 241);
    transform: translate(-1%, 75%);
    transition: 0.3s ease-in;
}


