.navbar-div {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-div button{
    font-family: 'Silkscreen', cursive;
    padding: 10px;
    margin: 20px;
    border-radius: 25px;
    background-color: rgb(236, 229, 229);
    color: black;
    box-shadow: 6px 5px 9px 4px #1a1a1b;
    font-size: 23px
}
.navbar-div button:hover {
    background-color: rgb(59, 65, 74);
    color:rgb(220, 243, 241);
    transform: translate(-1%, 75%);
    transition: 0.3s ease-in;
}


